<div class="container bgimage">
    
</div>
<div class="container content">
     <h1>JALDI PARKING</h1>
     <div class="content-container">
        <div class="mb-3">
            <label for="vehicle" class="form-label">Vehicle No</label>
            <input type="text" class="form-control" id="vehicle" placeholder="KA05EJ2887">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="text-center">
            <button type="button" class="btn col-md-3 mr5 btn-color" (click)="searchClick()">Sign in</button>
            <button type="button" class="btn col-md-3 btn-color">Register</button>
        </div>
        <div class="text-center col-md-12">
            <a href="#" class="linkFont">Forgot Password?</a>
            <p class="copyFont">Copyright to &copy; Kishan & Team</p>
        </div>
      </div>
</div>


