/* You can add global styles to this file, and also import other style files */
.mr5 {
    margin-right:5px;
}
.mt30 {
    margin-top:30px !important;
}
.mt20 {
    margin-top:20px;
}
.form-label {
    margin-bottom: 0px !important;
    font-weight:500;
}
p {
    margin-bottom:0px !important;
}
